$mainColor: #022E6C;
$secondaryColor: #6c757d;
$alertColor: #DB314C;
$chartColor: #ccc;

$screen-xs-max: 600px;
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
      @content;
  }
}


html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $mainColor;
}

#container {
  width: 460px;
  max-width: 100%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  padding-top: 100px;
}

h2 {
  @include xs {
  font-size: 1.17rem;
  }

  margin-bottom: 2em;
}

#randomAnswer {
  color: $alertColor;
}

.btn {
  display: inline-block;
  border: 1px solid;
  border-color: $mainColor;
  border-radius: 0.375em;
  color: #fff;
  background-color: $mainColor;
  margin-top: 3em;
  padding: 0.5em 1.5em;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.17), 0 3px 12px 0 rgba(0,0,0,0.14);
  }
}


blockquote {
  @include xs {
    margin-top: 5rem;
  }

  border-left: 2px solid $chartColor;
  margin: 10rem 0;
  padding-left: 1rem;

  p {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  color: $secondaryColor;
  font-size: 80%;

  &::before {
    content: "\2014 \00A0";
  }
}


